body,
html {
  padding: 0 !important;
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}
:root {
  --fg: #d1d1d1;
  --bg: #1d1d1d;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
}
